{% extends 'base.html.twig' %}

{% block title %}Developer Page{% endblock %}

{% block content %}
    <h1>Developer Page</h1>

    {# Подключаем компоненты #}
    {% include 'developers/components/edit.html.twig' %}
    {% include 'developers/components/show.html.twig' %}
    {% include 'developers/components/list.html.twig' %}
    {% include 'developers/components/new.html.twig' %}
{% endblock %}
